# Mercado Pago
MP_ACCESS_TOKEN=

# MDCPay
MDCPAY_CLIENT_SECRET=
MDCPAY_CLIENT_ID=
MDCPAY_API_URL=https://api-connectmdcpay.squareweb.app

# E-mail Alert Config
EMAIL_TO=alerta-vendas@wepink-clone.com
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
